/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS and IE text size adjust after device orientation change,
     *    without disabling user zoom.
     */
html {
  font-family: "Roboto", sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove default margin.
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Correct `block` display not defined for any HTML5 element in IE 8/9.
     * Correct `block` display not defined for `details` or `summary` in IE 10/11
     * and Firefox.
     * Correct `block` display not defined for `main` in IE 11.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * 1. Correct `inline-block` display not defined in IE 8/9.
     * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
     */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
       * Address `[hidden]` styling not present in IE 8/9/10.
       */
[hidden] {
  display: none; }

/**
     * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
     */
template {
  display: none; }

/* Links
       ========================================================================== */
/**
       * Remove the gray background color from active links in IE 10.
       */
a {
  background-color: transparent; }

/**
     * Improve readability of focused elements when they are also in an
     * active/hover state.
     */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
     */
abbr[title] {
  border-bottom: 1px dotted; }

/**
     * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
     */
b,
strong {
  font-weight: bold; }

/**
     * Address styling not present in Safari and Chrome.
     */
dfn {
  font-style: italic; }

/**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari, and Chrome.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
       * Address styling not present in IE 8/9.
       */
mark {
  background: #ff0;
  color: #000; }

/**
     * Address inconsistent and variable font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
       ========================================================================== */
/**
       * Remove border when inside `a` element in IE 8/9/10.
       */
img {
  border: 0; }

/**
     * Correct overflow not hidden in IE 9/10/11.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
       * Address margin not present in IE 8/9 and Safari.
       */
figure {
  margin: 1.5em 40px; }

/**
     * Address differences between Firefox and other browsers.
     */
hr {
  box-sizing: content-box;
  height: 0; }

/**
     * Contain overflow in all browsers.
     */
pre {
  overflow: auto; }

/**
     * Address odd `em`-unit font size rendering in all browsers.
     */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known limitation: by default, Chrome and Safari on OS X allow very limited
     * styling of `select`, unless a `border` property is set.
     */
/**
     * 1. Correct color not being inherited.
     *    Known issue: affects color of disabled elements.
     * 2. Correct font properties not being inherited.
     * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
     * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 5. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
     * Address `overflow` set to `hidden` in IE 8/9/10/11.
     */
button {
  overflow: visible; }

/**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
     * Correct `select` style inheritance in Firefox.
     */
button,
select {
  text-transform: none; }

/**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
     *    Known issue: inner spacing remains in IE 6.
     */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
     * Re-set default cursor for disabled elements.
     */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
     * Remove inner padding and border in Firefox 4+.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */
input {
  line-height: normal; }

/**
       * It's recommended that you don't attempt to style these elements.
       * Firefox's implementation doesn't respect box-sizing, padding, or width.
       *
       * 1. Address box sizing set to `content-box` in IE 8/9/10.
       * 2. Remove excess padding in IE 8/9/10.
       * 3. Remove excess padding in IE 7.
       *    Known issue: excess padding remains in IE 6.
       */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Fix the cursor style for Chrome's increment/decrement buttons. For certain
     * `font-size` values of the `input`, it causes the cursor style of the
     * decrement button to change from `default` to `text`.
     */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
     */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
       * Remove inner padding and search cancel button in Safari and Chrome on OS X.
       * Safari (but not Chrome) clips the cancel button when the search input has
       * padding (and `textfield` appearance).
       */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Define consistent border, margin, and padding.
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct `color` not being inherited in IE 8/9/10/11.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     * 3. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Remove default vertical scrollbar in IE 8/9/10/11.
     */
textarea {
  overflow: auto; }

/**
     * Don't inherit the `font-weight` (applied by a rule above).
     * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
     */
optgroup {
  font-weight: bold; }

/* Tables
       ========================================================================== */
/**
     * Remove most spacing between table cells.
     */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* * * * * * * * * * * * * * T Y P O G R A P H Y  * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * T Y P O G R A P H Y  * * * * * * * * * * * * * */
body {
  color: #2D383A;
  font-family: "Roboto", sans-serif; }

p, td, th, ul, ol, blockquote {
  font-size: 15px;
  font-size: 0.9375rem; }

h1, h2, h3, h4 {
  color: #2D383A;
  font-family: "Roboto", sans-serif; }

a {
  color: #34495E; }

hr {
  border-bottom-style: none;
  border-top-style: solid;
  border-color: #2D383A;
  border-width: 1px; }

blockquote {
  border-left: 3px solid #1ABC9C;
  padding: 1em;
  font-style: italic; }

.wrapper {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 64em) {
    .wrapper {
      width: 60em; } }
  @media screen and (min-width: 80em) {
    .wrapper {
      width: 78em; } }

.content {
  margin-left: 15px;
  margin-right: 15px; }
  @media screen and (min-width: 64em) {
    .content {
      margin-left: 0;
      margin-right: 0; } }

/* * * * * * * * * * * * * * T Y P O G R A P H Y  * * * * * * * * * * * * * */
@media screen and (max-width: 35.499em) {
  .hide-xs {
    display: none !important; } }

@media screen and (min-width: 35.5em) and (max-width: 47.999em) {
  .hide-sm {
    display: none !important; } }

@media screen and (min-width: 48em) and (max-width: 63.999em) {
  .hide-md {
    display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 79.999em) {
  .hide-lg {
    display: none !important; } }

@media screen and (min-width: 80em) {
  .hide-xl {
    display: none !important; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-xxs {
  font-size: 11px;
  font-size: 0.6875rem; }

.text-xs {
  font-size: 12px;
  font-size: 0.75rem; }

.text-sm {
  font-size: 13px;
  font-size: 0.8125rem; }

.text-base {
  font-size: 15px;
  font-size: 0.9375rem; }

.text-success {
  color: #2ECC71; }

.text-info {
  color: #1395BA; }

.text-warning {
  color: #EBC844; }

.text-danger {
  color: #D94E1F; }

.text-primary {
  color: #1ABC9C; }

.text-secondary {
  color: #9B9C8E; }

.text-muted {
  color: #DEDCDD; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

/**
 * Utility classes
 */
/**
 * The super hero clearfix thing
 */
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.pure-img {
  max-width: 100%;
  height: auto;
  display: block; }

.vspace {
  height: 75px; }

.vspace-responsive {
  height: 30px; }
  @media screen and (min-width: 48em) {
    .vspace-responsive {
      height: 75px; } }

.vmiddle-wrapper {
  height: 100%;
  position: relative; }

.vmiddle-container {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative; }
  .vmiddle-container *:first-child {
    margin-top: 0 !important; }
  .vmiddle-container *:last-child {
    margin-bottom: 0 !important; }

.pure-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
     *     Sets the font stack to fonts known to work properly with the above letter
     *     and word spacings. See: https://github.com/yahoo/pure/issues/41/
     *
     *     The following font stack makes Pure Grids work on all known environments.
     *
     *     * FreeSans: Ships with many Linux distros, including Ubuntu
     *
     *     * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
     *       Arial to get picked up by the browser, even though neither is available
     *       in Chrome OS.
     *
     *     * Droid Sans: Ships with all versions of Android.
     *
     *     * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows. */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  /*
     *     Use flexbox when possible to avoid `letter-spacing` side-effects.
     *
     *     NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
     *     `-moz-` prefix version is omitted. */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap; }

/* Opera as of 12 on Windows needs word-spacing.
 * The ".opera-only" selector is used to prevent actual prefocus styling
 * and is not required in markup. */
.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em; }

.pure-u {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-g-gutter {
  margin: 0 -15px; }
  .pure-g-gutter > [class*="pure-u"] {
    padding: 0 15px;
    box-sizing: border-box; }

/*
 *Resets the font family back to the OS/browser's default sans-serif font,
 *this the same font stack that Normalize.css sets for the `body`. */
.pure-g [class*="pure-u"] {
  font-family: "Roboto", sans-serif; }

/** PURE GRID UNITS **/
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%; }

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%; }

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%; }

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%; }

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%; }

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%; }

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
  *width: 24.9690%; }

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%; }

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%; }

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%; }

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%; }

.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%; }

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%; }

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
  *width: 49.9690%; }

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%; }

.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%; }

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%; }

.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%; }

.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%; }

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%; }

.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
  *width: 74.9690%; }

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%; }

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%; }

.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%; }

.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%; }

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%; }

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%; }

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%; }

/* * * * * * * * * * * * * * T Y P O G R A P H Y  * * * * * * * * * * * * * */
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%; } }

@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-5,
  .pure-u-md-2-5,
  .pure-u-md-3-5,
  .pure-u-md-4-5,
  .pure-u-md-5-5,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-8,
  .pure-u-md-3-8,
  .pure-u-md-5-8,
  .pure-u-md-7-8,
  .pure-u-md-1-12,
  .pure-u-md-5-12,
  .pure-u-md-7-12,
  .pure-u-md-11-12,
  .pure-u-md-1-24,
  .pure-u-md-2-24,
  .pure-u-md-3-24,
  .pure-u-md-4-24,
  .pure-u-md-5-24,
  .pure-u-md-6-24,
  .pure-u-md-7-24,
  .pure-u-md-8-24,
  .pure-u-md-9-24,
  .pure-u-md-10-24,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-md-1-12,
  .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-md-1-8,
  .pure-u-md-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-md-1-6,
  .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-md-3-8,
  .pure-u-md-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-md-5-12,
  .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-md-1-2,
  .pure-u-md-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-md-7-12,
  .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-md-5-8,
  .pure-u-md-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-md-2-3,
  .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-md-3-4,
  .pure-u-md-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-md-5-6,
  .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-md-7-8,
  .pure-u-md-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-md-11-12,
  .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-5-5,
  .pure-u-md-24-24 {
    width: 100%; } }

@media screen and (min-width: 64em) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-3,
  .pure-u-lg-2-3,
  .pure-u-lg-1-4,
  .pure-u-lg-3-4,
  .pure-u-lg-1-5,
  .pure-u-lg-2-5,
  .pure-u-lg-3-5,
  .pure-u-lg-4-5,
  .pure-u-lg-5-5,
  .pure-u-lg-1-6,
  .pure-u-lg-5-6,
  .pure-u-lg-1-8,
  .pure-u-lg-3-8,
  .pure-u-lg-5-8,
  .pure-u-lg-7-8,
  .pure-u-lg-1-12,
  .pure-u-lg-5-12,
  .pure-u-lg-7-12,
  .pure-u-lg-11-12,
  .pure-u-lg-1-24,
  .pure-u-lg-2-24,
  .pure-u-lg-3-24,
  .pure-u-lg-4-24,
  .pure-u-lg-5-24,
  .pure-u-lg-6-24,
  .pure-u-lg-7-24,
  .pure-u-lg-8-24,
  .pure-u-lg-9-24,
  .pure-u-lg-10-24,
  .pure-u-lg-11-24,
  .pure-u-lg-12-24,
  .pure-u-lg-13-24,
  .pure-u-lg-14-24,
  .pure-u-lg-15-24,
  .pure-u-lg-16-24,
  .pure-u-lg-17-24,
  .pure-u-lg-18-24,
  .pure-u-lg-19-24,
  .pure-u-lg-20-24,
  .pure-u-lg-21-24,
  .pure-u-lg-22-24,
  .pure-u-lg-23-24,
  .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-lg-1-12,
  .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-lg-1-8,
  .pure-u-lg-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-lg-1-6,
  .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-lg-1-4,
  .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-lg-1-3,
  .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-lg-3-8,
  .pure-u-lg-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-lg-5-12,
  .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-lg-1-2,
  .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-lg-7-12,
  .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-lg-5-8,
  .pure-u-lg-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-lg-2-3,
  .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-lg-3-4,
  .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-lg-5-6,
  .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-lg-7-8,
  .pure-u-lg-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-lg-11-12,
  .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-5-5,
  .pure-u-lg-24-24 {
    width: 100%; } }

@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-5,
  .pure-u-xl-2-5,
  .pure-u-xl-3-5,
  .pure-u-xl-4-5,
  .pure-u-xl-5-5,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-8,
  .pure-u-xl-3-8,
  .pure-u-xl-5-8,
  .pure-u-xl-7-8,
  .pure-u-xl-1-12,
  .pure-u-xl-5-12,
  .pure-u-xl-7-12,
  .pure-u-xl-11-12,
  .pure-u-xl-1-24,
  .pure-u-xl-2-24,
  .pure-u-xl-3-24,
  .pure-u-xl-4-24,
  .pure-u-xl-5-24,
  .pure-u-xl-6-24,
  .pure-u-xl-7-24,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24,
  .pure-u-xl-10-24,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-xl-5-12,
  .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-xl-7-12,
  .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-xl-5-8,
  .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-xl-2-3,
  .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-xl-3-4,
  .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-xl-5-6,
  .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-xl-7-8,
  .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-5-5,
  .pure-u-xl-24-24 {
    width: 100%; } }

.news-container {
  margin: 30px 0; }
  .news-container a {
    text-decoration: none; }
  .news-container > div:first-of-type .news {
    padding-right: 20px; }
  .news-container > div:last-of-type .news {
    padding-left: 20px; }
  .news-container > div:nth-of-type(2) .news {
    padding: 0 10px; }
  .news-container .news .news-title {
    margin: 0;
    font-size: 35px;
    font-size: 2.1875rem; }
  .news-container .news .news-description {
    font-size: 19px;
    font-size: 1.1875rem;
    margin: 0 0 30px 0; }

.jumbotron {
  background-color: #D4DFE2;
  padding-bottom: 30px; }
  .jumbotron .jumbotron-title {
    margin: 30px 0 0 0;
    font-size: 47px;
    font-size: 2.9375rem;
    display: inline-block;
    border-bottom: 3px solid #2D383A; }

.featured-container {
  margin: 30px 0; }
  @media screen and (min-width: 35.5em) {
    .featured-container > div:nth-child(odd) .featured {
      padding-right: 12px; }
    .featured-container > div:nth-child(even) .featured {
      padding-left: 12px; } }
  @media screen and (min-width: 48em) {
    .featured-container > div:nth-child(odd) .featured {
      padding-right: inherit; }
    .featured-container > div:nth-child(even) .featured {
      padding-left: inherit; }
    .featured-container > div:first-of-type .featured {
      padding-right: 24px; }
    .featured-container > div:nth-of-type(2) .featured {
      padding: 0 16px 0 8px; }
    .featured-container > div:nth-of-type(3) .featured {
      padding: 0 8px 0 16px; }
    .featured-container > div:last-of-type .featured {
      padding-left: 24px; } }
  .featured-container .featured {
    margin: 12px 0; }
    @media screen and (min-width: 48em) {
      .featured-container .featured {
        margin: 0; } }
    .featured-container .featured .featured-description {
      padding: 10px;
      background-color: #1ABC9C; }
      .featured-container .featured .featured-description a {
        text-decoration: none; }
        .featured-container .featured .featured-description a h3 {
          font-size: 21px;
          font-size: 1.3125rem; }
      .featured-container .featured .featured-description .featured-title {
        margin: 0; }
      .featured-container .featured .featured-description .featured-add-to-cart {
        text-align: right; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn[disabled] {
    opacity: .65; }

a.btn {
  text-decoration: none; }

.btn-primary {
  color: white !important;
  background-color: #1ABC9C;
  border-color: #1ABC9C; }

.btn-default {
  color: white !important;
  background-color: #34495E;
  border-color: #34495E; }

.btn-info {
  color: white !important;
  background-color: #1395BA;
  border-color: #1395BA; }

.btn-success {
  color: white !important;
  background-color: #2ECC71;
  border-color: #2ECC71; }

.btn-warning {
  color: #2D383A !important;
  background-color: #EBC844;
  border-color: #EBC844; }

.btn-danger {
  color: white !important;
  background-color: #D94E1F;
  border-color: #D94E1F; }

.btn-inverse {
  color: white !important;
  background-color: #34495E;
  border-color: #34495E; }

.btn-link {
  background-color: transparent;
  border: none; }
  .btn-link:hover {
    box-shadow: none;
    text-decoration: underline; }

.btn-xl {
  padding: 13px 20px;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.btn-lg {
  padding: 10px 16px;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.btn-xs {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 3px 6px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box; }

.btn + .btn {
  margin-left: 0.35em; }
  .btn + .btn.pull-right {
    margin-left: inherit;
    margin-right: 0.35em; }

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 1.2;
  margin: 0 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DEDCDD; }

.page-toc li {
  list-style: none;
  color: #2ECC71; }
  .page-toc li a {
    color: #2ECC71;
    text-decoration: none; }
  .page-toc li:before {
    content: '> ';
    font-size: 9px;
    font-family: "awesome"; }

.form-group {
  margin-bottom: 15px; }

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: normal;
  color: #2D383A;
  background-color: white;
  background-image: none;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 1px solid #9B9C8E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control::placeholder {
    color: #9B9C8E;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #D4DFE2;
    opacity: 1; }
  .form-control:disabled {
    cursor: not-allowed; }

.form {
  width: 100%; }
  .form fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0; }
  .form label {
    font-size: 13px;
    font-size: 0.8125rem;
    display: inline-block;
    margin: 0 0 0.5em; }
  .form input, .form select, .form textarea {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.2;
    padding: 6px 12px;
    border: 1px solid #DEDCDD;
    background-color: transparent;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]), .form select, .form textarea {
    width: 100%; }
  .form input[type='checkbox'] {
    display: inline-block;
    padding-left: .25em; }
  .form input[type='radio'] {
    display: inline-block; }
    .form input[type='radio'] + label {
      display: inline-block;
      padding: 0 0.5em; }
  .form .form-group {
    margin-bottom: 15px; }

.input-group {
  display: inline-table;
  vertical-align: middle; }
  .input-group .input-group-addon,
  .input-group .input-group-btn,
  .input-group .form-control {
    width: auto; }
  .input-group .input-group > .form-control {
    width: 100%; }

.checkbox {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0px;
  position: relative;
  display: block; }
  .checkbox input[type=checkbox] {
    display: none; }
  .checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    color: #9B9C8E;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    direction: ltr;
    min-height: 17px;
    line-height: 17px;
    box-sizing: border-box; }
    .checkbox label:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 10px;
      position: absolute;
      left: 0px;
      top: 1.4px;
      background-color: transparent;
      border: 1px solid #9B9C8E;
      border-radius: 3px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s; }
    .checkbox label:after {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 3px;
      top: 1px;
      font-size: 11px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
      box-sizing: border-box; }
  .checkbox input[type=checkbox]:checked + label:after {
    font-family: "awesome";
    color: white;
    content: "y"; }
  .checkbox input[type=checkbox]:checked + label:before {
    background-color: #9B9C8E;
    border: 1px solid #9B9C8E; }

.form-title {
  line-height: 1.2;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #DEDCDD; }

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  .table th, .table td {
    text-align: left; }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > thead > tr > th {
    vertical-align: top;
    border-top: 1px solid #DEDCDD;
    padding: 5px 10px;
    line-height: 1.42857143;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media screen and (min-width: 35.5em) {
      .table > tbody > tr > td,
      .table > tbody > tr > th,
      .table > thead > tr > th {
        font-size: 15px;
        font-size: 0.9375rem; } }
  .table > thead:first-child > tr:first-child > th {
    border-top: 0; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #DEDCDD; }

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #FAFAFA; }

@media screen and (max-width: 63.999em) {
  .table-responsive {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0; }
  .table-responsive,
  .table-responsive--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat; }
  .table-responsive td:first-child,
  .table-responsive--flip tbody tr:first-child {
    background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%; }
  .table-responsive td:last-child,
  .table-responsive--flip tbody tr:last-child {
    background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%; }
  .table-responsive--flip {
    display: flex;
    overflow: hidden;
    background: none; }
  .table-responsive--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content; }
  .table-responsive--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden; }
  .table-responsive--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0; }
  .table-responsive--flip td,
  .table-responsive--flip th {
    display: block; }
  .table-responsive--flip td {
    background-image: none !important;
    border-left: 0 !important; }
  .table-responsive--flip th:not(:last-child),
  .table-responsive--flip td:not(:last-child) {
    border-bottom: 0; }
  .table-responsive--flip > tbody > tr:last-of-type > td {
    border-bottom: none; } }

.alert {
  padding: 1em;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  font-size: 0.9375rem; }
  .alert h2, .alert h3, .alert h4 {
    font-size: 1.78em;
    font-family: "Roboto", sans-serif;
    margin: 0 0 0.67em;
    color: inherit; }
  .alert .alert-link {
    font-weight: 700; }
  .alert > p,
  .alert > ul,
  .alert > label {
    margin-bottom: 0.27em;
    font-size: 15px;
    font-size: 0.9375rem; }
  .alert > p + p {
    margin-top: 5px; }

.alert-close {
  float: right;
  color: inherit;
  opacity: 0.2;
  cursor: pointer; }

.alert-hidden {
  display: none; }

.alert-success {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: white; }
  .alert-success hr {
    border-top-color: #29b765; }
  .alert-success .alert-link {
    color: #e6e6e6; }

.alert-info {
  background-color: #1395BA;
  border-color: #1395BA;
  color: white; }
  .alert-info hr {
    border-top-color: #1182a3; }
  .alert-info .alert-link {
    color: #e6e6e6; }

.alert-warning {
  background-color: #EBC844;
  border-color: #EBC844;
  color: #2D383A; }
  .alert-warning hr {
    border-top-color: #e9c12d; }
  .alert-warning .alert-link {
    color: #171c1d; }

.alert-danger {
  background-color: #D94E1F;
  border-color: #D94E1F;
  color: white; }
  .alert-danger hr {
    border-top-color: #c3461c; }
  .alert-danger .alert-link {
    color: #e6e6e6; }

.spinbox {
  margin-bottom: 20px !important;
  position: relative;
  display: inline-block;
  min-width: 75px; }
  .spinbox .spinbox-ctrl {
    height: 17px;
    border: 1px solid #D4DFE2;
    margin: 0 !important;
    text-align: center;
    left: 16px;
    position: absolute;
    width: 21px; }
    @media screen and (min-width: 48em) {
      .spinbox .spinbox-ctrl {
        width: 37px; } }
  .spinbox .spinbox-btn {
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
    margin: 0;
    height: 20px;
    width: 16px;
    background-color: #D4DFE2;
    text-align: center;
    font-size: 13px;
    font-size: 0.8125rem;
    padding-top: 1px; }
  .spinbox .spinbox-btn-dec {
    left: 0; }
  .spinbox .spinbox-btn-inc {
    left: 39px; }
    @media screen and (min-width: 48em) {
      .spinbox .spinbox-btn-inc {
        left: 55px; } }
  .spinbox .spinbox-append {
    position: absolute;
    padding-top: 2px;
    left: 59px;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media screen and (min-width: 48em) {
      .spinbox .spinbox-append {
        left: 75px; } }
  .spinbox .spinbox-loader {
    padding-top: 3px;
    width: 13px; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate; }
  .input-group[class*="pure-"] {
    float: none;
    padding-left: 0;
    padding-right: 0; }
  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0; }
    .input-group .form-control:focus {
      z-index: 3; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell; }
  .input-group-addon:not(:first-child):not(:last-child),
  .input-group-btn:not(:first-child):not(:last-child),
  .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0; }

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  color: white;
  text-align: center; }
  .input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 13px; }
  .input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 19px; }
  .input-group-addon input[type="radio"],
  .input-group-addon input[type="checkbox"] {
    margin-top: 0; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.input-group-addon:first-child {
  border-right: 0; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.input-group-addon:last-child {
  border-left: 0; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .input-group-btn > .btn {
    position: relative; }
    .input-group-btn > .btn + .btn {
      margin-left: -1px; }
    .input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
      z-index: 2; }
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group {
    margin-right: -1px; }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px; }

.sidebar {
  background-color: #DEDCDD;
  margin: 15px 0; }
  @media screen and (min-width: 48em) {
    .sidebar {
      background-color: transparent;
      margin: 0; } }

.sidebar-title {
  float: left;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #9B9C8E; }

.sidebar-header {
  padding: 10px;
  cursor: pointer;
  *zoom: 1; }
  .sidebar-header:before, .sidebar-header:after {
    content: " ";
    display: table; }
  .sidebar-header:after {
    clear: both; }
  @media screen and (min-width: 48em) {
    .sidebar-header {
      display: none; } }

@media screen and (min-width: 48em) {
  .sidebar-account:before {
    content: "";
    display: block;
    height: 43px; } }

.sidebar-expand {
  float: right;
  padding-top: 5px;
  color: #9B9C8E; }
  @media screen and (min-width: 48em) {
    .sidebar-expand {
      display: none; } }
  .sidebar-expand [role="collapse-icon"] {
    -webkit-transition: 250ms all;
    -moz-transition: 250ms all;
    -ms-transition: 250ms all;
    -o-transition: 250ms all;
    transition: 250ms all; }
    .sidebar-expand [role="collapse-icon"]:before {
      content: "d"; }
  .sidebar-expand [role="collapse-icon"].is-open {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }

.sidebar-content {
  display: none;
  padding: 10px; }
  @media screen and (min-width: 48em) {
    .sidebar-content {
      padding: 0;
      display: inherit !important; } }

.sidebar-left {
  padding: 30px; }
  @media screen and (min-width: 48em) {
    .sidebar-left {
      padding: 0 30px 0 0; } }

.sidebar-right {
  padding-left: 60px;
  padding-right: 0; }

.sidebar-links {
  margin: 0;
  padding: 0; }
  .sidebar-links li {
    list-style: none;
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 0.17em; }
    .sidebar-links li a {
      color: #34495E;
      text-decoration: none; }
      .sidebar-links li a:hover {
        color: #DEDCDD; }
        .sidebar-links li a:hover::before {
          color: #DEDCDD; }
    .sidebar-links li:before {
      color: #34495E;
      content: 'b ';
      font-family: "awesome"; }

/*
 * 	Owl Carousel Site Theme
 */
.owl-homemain .owl-nav {
  margin-top: 5px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-homemain .owl-nav [class*='owl-'] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #DEDCDD;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .owl-homemain .owl-nav [class*='owl-']:hover {
      background: #9B9C8E;
      color: white;
      text-decoration: none; }
  .owl-homemain .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
  .owl-homemain .owl-nav.disabled + .owl-dots {
    margin-top: 5px; }

.owl-homemain .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-homemain .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-homemain .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 4px;
      background: #DEDCDD;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -moz-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
    .owl-homemain .owl-dots .owl-dot.active span, .owl-homemain .owl-dots .owl-dot:hover span {
      background: #9B9C8E; }

.owl-product-slider .owl-prev, .owl-product-slider .owl-next {
  position: absolute;
  top: 40%;
  background-color: #2D383A;
  color: white; }
  .owl-product-slider .owl-prev.disabled, .owl-product-slider .owl-next.disabled {
    color: #9B9C8E; }

.owl-product-slider .owl-prev {
  left: -15px;
  padding: 9px 9px 4px 7px; }

.owl-product-slider .owl-next {
  right: -15px;
  padding: 9px 7px 4px 9px; }

.review {
  background-color: #DEDCDD;
  padding: 30px;
  margin-bottom: 30px; }
  .review .panel .panel-heading .pull-right {
    color: #9B9C8E;
    font-size: 13px;
    font-size: 0.8125rem; }
  .review .panel .panel-body {
    color: #2D383A;
    font-size: 13px;
    font-size: 0.8125rem; }
    .review .panel .panel-body h4 {
      color: #2ECC71; }
  .review .panel .panel-footer {
    margin-top: 30px;
    color: #9B9C8E;
    font-size: 13px;
    font-size: 0.8125rem; }

.review-form, .review .panel {
  background-color: white;
  padding: 15px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17); }

.review-form {
  width: auto !important; }

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #2D383A;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }
  .label:empty {
    display: none; }
  .btn .label {
    position: relative;
    top: -1px; }

a.label:hover, a.label:focus {
  text-decoration: none;
  cursor: pointer; }

.label-default {
  background-color: #34495E;
  color: white; }
  .label-default[href]:hover, .label-default[href]:focus {
    background-color: #22303d; }

.label-primary {
  background-color: #1ABC9C;
  color: white; }
  .label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #148f77; }

.label-success {
  background-color: #2ECC71;
  color: white; }
  .label-success[href]:hover, .label-success[href]:focus {
    background-color: #25a25a; }

.label-info {
  background-color: #1395BA;
  color: white; }
  .label-info[href]:hover, .label-info[href]:focus {
    background-color: #0e708c; }

.label-warning {
  background-color: #EBC844;
  color: #2D383A; }
  .label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #e4b918; }

.label-danger {
  background-color: #D94E1F;
  color: white; }
  .label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #ac3e19; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(212, 223, 226, 0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 170ms ease-in;
  -moz-transition: opacity 170ms ease-in;
  -ms-transition: opacity 170ms ease-in;
  -o-transition: opacity 170ms ease-in;
  transition: opacity 170ms ease-in;
  pointer-events: none; }

.modal:target {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 230ms ease-in;
  -moz-transition: opacity 230ms ease-in;
  -ms-transition: opacity 230ms ease-in;
  -o-transition: opacity 230ms ease-in;
  transition: opacity 230ms ease-in; }

.modal-close {
  background: white;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 3px;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 7px 10px 2px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 170ms ease-in;
  -moz-transition: background-color 170ms ease-in;
  -ms-transition: background-color 170ms ease-in;
  -o-transition: background-color 170ms ease-in;
  transition: background-color 170ms ease-in; }
  .modal-close:hover {
    -webkit-transition: background-color 230ms ease-in;
    -moz-transition: background-color 230ms ease-in;
    -ms-transition: background-color 230ms ease-in;
    -o-transition: background-color 230ms ease-in;
    transition: background-color 230ms ease-in;
    background: white; }

.modal-form {
  position: relative;
  margin: 10% auto;
  padding: 6px 12px 6px 12px;
  border-radius: 3px;
  background: white;
  width: 90%; }
  @media screen and (min-width: 35.5em) {
    .modal-form {
      width: 67%; } }
  @media screen and (min-width: 48em) {
    .modal-form {
      width: 62%; } }
  @media screen and (min-width: 64em) {
    .modal-form {
      width: 550px; } }
  @media screen and (min-width: 80em) {
    .modal-form {
      width: 650px; } }
  .modal-form .form-footer {
    background-color: #DEDCDD;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 12px;
    margin: 6px -12px -6px; }

@media screen and (min-width: 35.5em) {
  .modal-form-small {
    width: 50%; } }

@media screen and (min-width: 64em) {
  .modal-form-small {
    width: 320px; } }

@media screen and (min-width: 80em) {
  .modal-form-small {
    width: 400px; } }

@media screen and (min-width: 35.5em) {
  .modal-form-large {
    width: 83%; } }

@media screen and (min-width: 64em) {
  .modal-form-large {
    width: 768px; } }

@media screen and (min-width: 80em) {
  .modal-form-large {
    width: 980px; } }
